@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url("css/style.css");

body {

  background: #000000; /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
}
.container {
    width: 100%;
    font-family: Unica;

}

.title {

    position: relative;
    margin-top: 200px;
   
  
   
   
   
    color: rgb(255, 255, 255);
    font-size: 80px;
  
 
    align-items: center;
    text-align: center;
    z-index: 10;
} 
  
@font-face {
    font-family:Kamino;
    src: url(Kamino-VF.tif);

  }
video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% ;
        object-fit: cover;
      }
header {
   
    height: 100vh;


}
.tab div:target {
    display: block;
  
}
/* .link1 {
  color: white;
} */
a {font-size: 20px;
    display: inline-block;
  
   

  
  }

.map  {
    position: absolute;
    top: 110%;
    left: 70%;
}
p {
  
  color: white;
  position: absolute;
  transform: translateX;
  top: 770px;
  left: 260px;
  font-size: 15px;


}  
.fa-solid {
  position: absolute;
  top: 30px;
  right: 10px;
  color: white;
  src: url(../https://airtable.com/shrcaaKA8GL55GMZk);
}
  
    
     
  
      
  


::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 5px;
	
}

.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


/*  */
