* {
    box-sizing: border-box;
}

@font-face {
    font-family: Unica;
    src: url('../assets/Unica77-Regular.otf');
}

body {
    font-family: Unica;
    background-color: black;
}

.container {
    width: 100%;
    font-family: Unica;
}


.cover {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
}

.cover-image {
    padding: 20px;
    width: 100%;
}

.cover-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

.cover-title {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 40px;
    text-align: center;
}


.country-code {
    display: inline 
}

.title-city {
    position: relative;
    font-size: 100px;
    text-align: center;
 
  
}
  



.title-next {
    background-color: white;
    padding: 15px 15px 10px 20px;
    color: black;
    border-radius: 70px;
    cursor: pointer;
}
nav {position: absolute;
    padding: 30px;
    cursor: pointer;
}
nav.visited {
    color: rgb(255, 255, 255);
}
.projects {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
}


    

.projects {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
    font-size: 30px;
    padding: 30px;
    justify-content: space-between;
}
.header {
    font-size: 20px;
}

.a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 100px;
  

}


a:hover{ 
    background-color: rgb(3, 3, 3);
    cursor: pointer;
    
}
a:visited {
    color: rgb(255, 255, 255);
}


.list-item {
    padding: 2%;
}
.list-item img {
    width: 70%;
    display: flex;

}

.weather {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
    padding: 10px;
}

.weather-now {
    flex-direction: column;
    width: 40%;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
}

.show-image {
    width: 60%;
    display: flex;
}
.hidden-image {
    display: none;
}

.show-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

.show-button {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}
.button-text{
    background-color: white;
    padding: 15px 15px 10px 20px;
    color: black;
    border-radius: 70px;
    cursor: pointer;
    font-size: 40px;

}
