* {
    box-sizing: border-box;
}

@font-face {
    font-family: Unica;
    src: url('../assets/Unica77-Regular.otf');
}

body {
    font-family: Unica;
    background-color: rgb(0, 0, 0);
}

.container {
    width: 100%;
    font-family: Unica;
}

.cover {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
}

.cover-image {
    padding: 10px;
    width: 100%;
}

.cover-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

.cover-title {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.title-city {
    position:fixed;
    top: 20px;
    font-size: 80px;
    text-align: center;
   margin: 10px;
}
.country-code {
    display: inline 
}
.name {
  position: relative;
  top: 20px;
  font-size: 25px;
  margin: 10px;
}
.contacts {
    font-size: 15px;
    margin: 10px;

}
nav {position: relative;
    padding: 20px;
    cursor: pointer;
}
nav.visited {
    color: rgb(255, 255, 255);
}
a {font-size: 20px;

}
a.hover {background-color: rgb(3, 3, 3);}


.show-image {
    width: 60%;
    display: flex;
}
.hidden-image {
    display: none;
}

.show-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;

}
.buttons {
    display: relative;
    flex-direction: column;
    justify-content: space-around;
    width: 70vh;
    height: 213vh;
    max-height: 213vh;
    position: relative;
    top: 10px; left: -20px;
    
}
.button-item {
    background-color: rgb(3, 23, 54);
    padding: 40px 40px 0px 40px;
    border-radius: 10px;
    font-size: 30px;
    margin: 20px;
    text-align: center;
    flex: 1;
}

.show-button {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15%;
}
.button-text{
    background-color: white;
    padding: 15px 15px 10px 20px;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;

}
.animate, .btn, .btn-border-o:before, .btn-border-o:after, .btn-border:before, .btn-border:after, .btn-border-rev-o:before, .btn-border-rev-o:after, .btn-border-rev:before, .btn-border-rev:after, .btn-fill-vert-o:before, .btn-fill-vert-o:after, .btn-fill-vert:before, .btn-fill-vert:after, .btn-fill-horz-o:before, .btn-fill-horz-o:after, .btn-fill-horz:before, .btn-fill-horz:after {
    transition: all 0.3s;
  }
  .main-container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;
  }
  h1 {
    line-height: 1;
    padding: 25px 0;
    border-bottom: 1px solid #212121;
    font-size: 35px;
    color: #212121;
    text-align: center;
  }
  section {
    padding: 40px 0 41px;
    text-align: center;
    position: relative;
  }
  section h2 {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 17px;
    color: #D2D2D2;
    text-align: center;
  }
  section:not(:last-child):after {
    content: '';
    width: 70%;
    height: 1px;
    border-bottom: 1px dashed #2c3e50;
    opacity: .5;
    position: absolute;
    bottom: -1px;
    left: 15%;
  }
  .btn {
    display: inline-block;
    line-height: 35px;
    margin: 8px;
    padding: 0 15px;
    font-size: 15px;
    position: relative;
    opacity: .999;
    border-radius: 3px;
  }
  .btn-border-o {
    background-color: transparent;
    border: 1px solid #d0d0d0;
    color: #B8B8B8;
  }
  .btn-border-o:before, .btn-border-o:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box;
  }
  .btn-border-o:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: -1px;
    left: 0;
    transition-delay: 0.05s;
  }
  .btn-border-o:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    top: 0;
    left: -1px;
  }
  .btn-border-o:hover:before {
    width: 100%;
  }
  .btn-border-o:hover:after {
    height: 100%;
  }
  .btn-border-o.btn-Red:before, .btn-border-o.btn-Red:after {
    border-color: #ff0026;
  }
  .btn-border-o.btn-Red:hover {
    color: #ff0026;
  }
  .btn-border-o.btn-Blue:before, .btn-border-o.btn-Blue:after {
    border-color: #0369d6;
  }
  .btn-border-o.btn-Blue:hover {
    color: #0369d6;
  }
  .btn-border-o.btn-Yellow:before, .btn-border-o.btn-Yellow:after {
    border-color: #faf604;
  }
  .btn-border-o.btn-Yellow:hover {
    color: #faf604;
  }
  .btn-border-o.btn-Green:before, .btn-border-o.btn-Green:after {
    border-color: #32bd1f;
  }
  .btn-border-o.btn-Green:hover {
    color: #32bd1f;
  }
  .btn-border-o.btn-Orange:before, .btn-border-o.btn-Orange:after {
    border-color: #ff7215e1;
  }
  .btn-border-o.btn-Orange:hover {
    color:  #ff7215e1;
  }
  .btn-border-o.btn-Pink:before, .btn-border-o.btn-Pink:after {
    border-color: #ff7ad3;
  }
  .btn-border-o.btn-Pink:hover {
    color: #ff7ad3;
  }
  .btn-border-o.btn-Black:before, .btn-border-o.btn-Black:after {
    border-color: #000000e1;
  }
  .btn-border-o.btn-Black:hover {
    color:  #000000e1;
  }
  .btn-border-o.btn-White:before, .btn-border-o.btn-White:after {
    border-color: #ffffffe1;
  }
  .btn-border-o.btn-White:hover {
    color:  #ffffffe1;
  }
  .btn-border-o.btn-Silver:before, .btn-border-o.btn-Silver:after {
    border-color: #afafafa1;
  }
  .btn-border-o.btn-Silver:hover {
    color:  #afafafa1;
  }
  .btn-border-o.btn-Purple:before, .btn-border-o.btn-Purple:after {
    border-color: #b709ece1;
  }
  .btn-border-o.btn-Purple:hover {
    color:  #b709ece1;
  }
  .btn-border-o.btn-Beige:before, .btn-border-o.btn-Beige:after {
    border-color: #f7dcbae1;
  }
  .btn-border-o.btn-Beige:hover {
    color: #f7dcbae1;
  }
  .btn-border-o.btn-Brown:before, .btn-border-o.btn-Brown:after {
    border-color: #502d04e1;
  }
  .btn-border-o.btn-Brown:hover {
    color: #502d04e1;
  }
  .btn-border-o.btn-Multicolour:before, .btn-border-o.btn-Multicolour:after {
    border-color: #baf7e8e1;
  }
  .btn-border-o.btn-Multicolour:hover {
   
  display: inline-block;
  margin: 20px 0 0 20px;
  color: #fff;
  background-color: #FF8F1B;
  background-image: linear-gradient(to right,#000000, #ee7401, #43ff2a, #ff2ab8,#ffc62a, #2ab3ff, #ff2d00, #9900ff, #fff);
  box-shadow: 4px 5px 27px 4px rgba(220, 120, 184, 0.85);
  font-size: 21px;
  border-radius: 30px;
  padding: 12px 21px;

    


  }
  /* .bookshelf {
  width: 3000px;
  margin: 5rem auto;
  text-align: center;
  position: relative } */

.image{ 

  position: absolute;
  width: 32.5mm;
  height: 49mm;
}



  
  
  /* ul { list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
    }
    
    li {
      
     margin: auto;
      
  
      justify-self: left} */
      
    
  .red1 img {
    position: absolute;
    /* display: block; */
      top: 50px;
      left: 5px;
      width: 32.5mm;
      height: 49mm;
      /* margin: 10px; */
      object-fit: cover;
   
      
   
      
    }
    .image__overlay { 
      position: absolute; 
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      color: white;
      font-family: 'Times New Roman', Times, serif;
      /* display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; */
      opacity: 0;
      transition: opaacity 0.25s;

    }

    /* .image__overlay > * {

      transform: translateY(20px);
      transition: transform 0.25s;
    } */
    .image__overlay:hover {
      opacity: 1;
    }

    .image__overlay:hover {
      transform: translateY(0px)
    }
    .image__title {
      
      font-size: 15px;
      font-weight: bold;
    } 
    .image__description{
      font-size: 10px;
      margin-top: 5px;

    }


      

    .red2 img{position: absolute;
        top: 50px;
        left: 200px;
        margin: 10px;
        box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
        width: 27.5mm;
        height: 45mm;
        object-fit: cover }

    .red3 img {position: absolute;
      top: 50px;
      left: 370px;
      margin: 10px;
      box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
      width: 30mm;
      height: 40mm;
      object-fit: cover }

      .red4 {position: relative;
        top: -600px;
        left: 780px;
        box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
        width: 200px;
        height: 300px;
        object-fit: cover }

        .red5 {position: relative;
          top: -900px;
          left: 1040px;
          box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
          width: 200px;
          height: 300px;
          object-fit: cover }

          .red6 {position: relative;
            top: -1200px;
            left: 1300px;
            box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
            width: 200px;
            height: 300px;
            object-fit: cover }

            .red7 {position: relative;
              top: -1500px;
              left: 1560px;
              box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
              width: 200px;
              height: 300px;
              object-fit: cover }

              .red8 {position: relative;
                top: -1800px;
                left: 1820px;
                box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
                width: 200px;
                height: 300px;
                object-fit: cover }

                .red9 {position: relative;
                  top: -2100px;
                  left: 2080px;
                  box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
                  width: 200px;
                  height: 300px;
                  object-fit: cover }

                  .red10 {position: relative;
                    top: -2400px;
                    left: 2340px;
                    box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
                    width: 200px;
                    height: 300px;
                    object-fit: cover }

                    .red11 {position: relative;
                      top: -2700px;
                      left: 2600px;
                      box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
                      width: 200px;
                      height: 300px;
                      object-fit: cover }

                      .red12 {position: relative;
                        top: -3000px;
                        left: 2860px;
                        box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
                        width: 200px;
                        height: 300px;
                        object-fit: cover }

                        .red13 {position: relative;
                          top: -3300px;
                          left: 3120px;
                          box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
                          width: 200px;
                          height: 300px;
                          object-fit: cover }

                          .red14 {position: relative;
                            top: -3600px;
                            left: 3380px;
                            box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
                            width: 200px;
                            height: 300px;
                            object-fit: cover }

                            .red15 {position: relative;
                              top: -3900px;
                              left: 3640px;
                              box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
                              width: 200px;
                              height: 300px;
                              object-fit: cover }

                              .red16 {position: relative;
                                top: -4200px;
                                left: 3900px;
                                box-shadow: 0px -5px 20px 2px rgba(rgb(160, 160, 160), 0.3);
                                width: 200px;
                                height: 300px;
                                object-fit: cover }
  


      
      
 .shelving {  position: relative}
 

.shelf-shadows { height: 1rem;
  box-shadow: 0px -5px 3px 0px rgba(#aaa, 0.2), 0px 15px 20px 0px rgba(#aaa, 0.5), 0px 5px 5px 0px rgba(#777, 0.3);
  z-index: 1;
  position: absolute;
 top: 0;
  left: 0;
 width: 100%;
  border-radius: 2px}
   

 .bookshelf { width: 80vw;
  height: 50vh;
   margin: auto;
   position: relative}
   
  
.shelf-shadows {position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  border-radius: 2px;
  z-index: 1;
  box-shadow: 0px -5px 3px 0px rgba(#aaa, 0.2), 0px 15px 20px 0px rgba(#aaa, 0.7), 0px 5px 5px 0px rgba(#777, 0.3)}
  
  
  /* .shelf {
   background-color: #5c4332;
 height: 1rem;
  box-shadow: 0px -5px 3px 0px rgba(#aaa, 0.2), 0px 15px 20px 0px rgba(#aaa, 0.5), 0px 5px 5px 0px rgba(#777, 0.3);
 z-index: 5;
 position: absolute;
 top: 400px;
  left: 200px;
 width: 100%;
  border-radius: 2px} */
  

/* .shelf {position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
   background-color: #5c4332; */
  
/*   
  border-radius: 2px;
  z-index: 3;
 box-shadow: 0px -5px 3px 0px rgba(#aaa, 0.2), 0px 15px 20px 0px rgba(#aaa, 0.5), 0px 5px 5px 0px rgba(#777, 0.3)} */
  
  
  
   
  
  